header 
    .header 
        img(src="img/Logo.png", alt="")
        ul 
            li
                a(href="") О нас
            li
                a(href="") Каталог
            li
                a(href="") Контакты
            
        
                 


